body {
    background-color: rgb(255, 250, 240);
}

footer {
    background-color: #032e58;
    padding: 20px;
    text-align: right;
}

footer a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline rgb(177, 0, 0);
    background-color: transparent;
}

header {
    padding: 25px 15px 15px 20px;
    background-color: #032e58;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0px;
    
}

header nav a {
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

header img {
    width: 300px;
    max-width: 900px;
    min-width: 100px;
}

.divFiltros-Pes {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 35px 60px;
}

.divFiltros-Pes span {
    padding: 10px;
    border-radius: 10px;
}

.divFiltros-Pes input {
    outline:  none;
    border: 1px solid lightblue;
    width: 300px;
    min-width: 100px;
    max-width: 600px;
    font-size: 20px;
    height: 25px;
    box-shadow: 1px 1px 15px 1px gray;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
}

.divFiltros-Pes button {
    margin: 0px 0px 0px 10px;
    width: 40px;
    min-width: 40px;
    max-width: 80px;
    height: 38px;
    min-height: 30px;
    max-height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(127, 175, 190);
    padding: 1px 2px 0px 2px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 15px 1px gray;
    background-color: rgb(228, 248, 255);
}

.divFiltros-Pes select {
    width: 300px;
    min-width: 100px;
    max-width: 600px;
    font-size: 20px;
    height: 25px;
    box-shadow: 1px 1px 25px 3px gray;
    background-color: white;
    border-radius: 3px;
    color: #003366;
    outline: none;
    cursor: pointer;
}

.homeBemVindo {
    color: #003366;
    text-align: center;
    margin: 40px;
}

.homeBemVindo h1 {
    font-size: 60px;
}

.homeBemVindo h3 {
    font-size: 25px;
    margin-top: -30px; 
}

.divLivrosGeral {
    display: flex;
    justify-content: space-between;
    background-color: #2a5580;
    margin: 2% 3% 3% 3%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px 3px #2a5580;
}

.divLivrosGeral span {
    display: inline-block;
}

span h2 {
    display: inline;
    font-size: 27px;
    margin: 0% 0% 0% 6%;
    font-family: cursive;

}

.divLivro {
    max-width: 30%;
    align-items: center;
    flex-wrap: wrap;
}

.divLivrosGeral .divLivro img {
    width: 200px;
    min-width: 100px;
    max-width: 200px;
    border: 2px solid black;
    border-radius: 20px;
}

.divLivro .descri-btn {
    justify-content: space-between;
    display: flex;
}

.divLivro .livroP {
    padding: 0px 0px 0px 10px;
    color: white;
    font-size: 23px;
    margin: 3px 0px;
    flex-wrap: wrap;

}

.divLivro .descri-btn button {
    width: auto;
    height: auto;
    padding: 8px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transform: scale(0.8);
    transition: 400ms ease;
    border: 1px solid darkblue;
}

.divLivro .descri-btn button:hover {
    transform: scale(1);
    background-color: #1c3957;
    color: white;
    box-shadow: 1px 1px 15px 2px #000000;
}