body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

header img {
    height: 50px;
}

header h2 {
    margin-left: 10px;
    font-size: 20px;
    color: #496C8A;
}

.container {
    margin-top: 40px;
    background-color: #496C8A;
    width: 350px;
    padding: 25px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 90%;
    margin: 15px auto;
    /* centraliza automaticamente */
    padding: 10px;
    text-align: center;
}

a {
    font-size: 14px;
    color: #333;
}